{% extends "auctions/layout.html" %}

{% block body %}

    {%if watchlist%}
        <h2>{{watchlist}}</h2>
        {%if not listings%}
        Nothing on watchlist. Add products to watchlist!
        {%endif%}
    {%elif category%}
        <h2>{{category}}</h2>
        {%if not listings%}
        No such category exists
        {%endif%}
    {%else%}
        <h2>Active Listings</h2>
        {%if not listings%}
        No active listings
        {%endif%}
    {%endif%}

    {%if categories%}
        <ul>
            {% for listing in listings %}
                <li>
                <a href=category/{{ listing }}>{{listing}}</a>
                </li>
            {% endfor %}
        </ul>
    {%else%}
    
    {%for listing in listings%}
        <div class='border'>   
            <a href="{% url 'listing' listing.id   %}">   <h3> {{listing.name}}</h3>  <a/>
            <img src="{{listing.image_url}}" alt="{{listing.name}} photo" style="width:200px;">
            {% if listing.bids.last %}
                <big><b>price: {{listing.bids.last}}</b></big>
            {% else %}
                <big><b>price: ${{listing.initial_price}}</b></big>
            {% endif %}
            
            <p>{{listing.description}}</p>
            <br>
            created {{listing.date_created}}
            
        </div>
    {%endfor%}
    {%endif%}
{% endblock %}